<%- include('partials/header'); %>
<%- include('partials/navbar'); %>

<h1>Password Checker</h1>
<p>Type in a password:</p>

<input id="searchbar" style="color:white"/>

<% if (Object.keys(results).length > 0) { %>
  <h6>Is this a passphrase?: <%= results.isPassphrase %></h6>
  <h6>Is this password strong?: <%= results.strong %></h6>
  <h6>How many variability tests does this password pass?: <%= results.optionalTestsPassed %></h6>
<%}%>

<script>

  document.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      let searchedTerm = document.getElementById("searchbar").value
      window.location.href = "/passwordChecker/"+searchedTerm
    }
  });

</script>

<%- include('partials/footer'); %>
