<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

<h1>Admin</h1>

<h3><%= admin.username %></h3>
<h5><%= admin.email %></h5>
<h5><%= admin.points %></h5>

<%- include('../partials/footer'); %>
