<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

<h1>Admin</h1>

<h3>Username: <%= admin.username %></h3>
<h5>Email: <%= admin.email %></h5>
<h5>Points: <%= admin.points %></h5>

<%- include('../partials/footer'); %>
