<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

<h1>User</h1>

<h3><%= user.username %></h3>
<h5><%= user.email %></h5>
<h5><%= user.points %></h5>

<%- include('../partials/footer'); %>
