<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

<h1>User</h1>

<h3>Username: <%= user.username %></h3>
<h5>Email: <%= user.email %></h5>
<h5>Points: <%= user.points %></h5>

<%- include('../partials/footer'); %>
